.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #847c7c; /* Mude a cor conforme necessário */
    border-radius: 50%;
    width: 11px;
    height: 11px;
    animation: spin 1s linear infinite;
    margin: 0px auto; /* Ajuste a margem conforme necessário */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }