.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 121px;
  background-color: #a5d7e8;
}

.fonte {
  font-size: 45px;
  color: white;
  font-family: "Inter";
  font-style: normal;
}
